<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.activiti.business.mapper.TaskRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.activiti.business.entity.TaskRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="starter" jdbcType="VARCHAR" property="starter" />
    <result column="approver" jdbcType="VARCHAR" property="approver" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `key`, task_id, starter, approver
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.activiti.business.entity.TaskRole" useGeneratedKeys="true">
    insert into task_role (`key`, task_id, starter, 
      approver)
    values (#{key,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{starter,jdbcType=VARCHAR}, 
      #{approver,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.activiti.business.entity.TaskRole" useGeneratedKeys="true">
    insert into task_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="key != null">
        `key`,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="starter != null">
        starter,
      </if>
      <if test="approver != null">
        approver,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="starter != null">
        #{starter,jdbcType=VARCHAR},
      </if>
      <if test="approver != null">
        #{approver,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.activiti.business.entity.TaskRole">
    update task_role
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="starter != null">
        starter = #{starter,jdbcType=VARCHAR},
      </if>
      <if test="approver != null">
        approver = #{approver,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.activiti.business.entity.TaskRole">
    update task_role
    set `key` = #{key,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      starter = #{starter,jdbcType=VARCHAR},
      approver = #{approver,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectStarterRole" resultType="String">
    select starter from task_role where `key` = #{processKey} and task_id = #{nodeId}
  </select>
</mapper>